body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: arial;

}

header {
    background-color: #00008b;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

header h1{
    color: white;
    font-size: 20px;
    border: 4px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 36px;
}

.banner {
    position: relative;
    margin-top: 60px;
}

.banner img{
    width: 100%;
}

.banner .welcome{
    color: white;
    position: absolute;
    left: 0px;
    top: 30%;
}

.banner h2{
    font-size: 36px;
    padding: 30px;
    background-color:rgb(122, 184, 232);
}

.banner h2 span{
    /* em means like 1.3x the original font size */
    font-size: 1.3em;
}

nav{
    background-color: beige;
    padding: 20px;
    position: sticky;
    top: 61px;
}

nav ul{
    white-space: nowrap;
}

nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
    text-align: center;
}

nav li a{
    text-decoration: none;
    color: grey;
}

nav li a.join {
    color: darkblue;
}

main {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    /* combine the padding and width, dont exceed */
    box-sizing: border-box;
}

article h2 {
    color: cornflowerblue;
    font-size: 48px;
}

article p{
    line-height: 2m;
    color: grey;
}