body,ul,li,h1,h2,a{
    margin:0;
    padding:0;
    font-family:arial;
}
header{

background-color:darkgoldenrod;
padding: 10px; 
text-align:center;
position:fixed;
width:100%;
z-index:1; 
top:0;
left:0;
}
ul{
    background-color:khaki;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    


}